#top-bar-menu{
    background: #3F51B5;
    padding: 3px 3px 3px 20px;
    margin: 0;
}

.header-title{
    color: white;
    margin: 18px;
    font-size: 20px;
}
.header-title-user{
    color: #eaeaea;
    margin: 18px;
    font-size: 15px;
    margin-top: -40px;

}
